.header__logo {
  width: 146.8px;
  height: 40px;

  border-radius: 10px;

  margin: 0 0 0 20px;


  background-image: url(../../../images/__logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  
  margin: 0;
}
  